.header-buyMenu.navbar-transparent.nav-front {
    padding-top: 65px;
}
.header-buyMenu.navbar-transparent.nav-front div.pl-1.col-md-3 h3 {
    font-weight: 600;
    color: white;
    margin-top: 6px;
}

.header-buyMenu.navbar-transparent.nav-front div.pl-1.col-md-3 h4 {
    font-weight: 500;
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.header-buyMenu.navbar-transparent.nav-front div.pl-1.col-md-7 h4 {
    font-weight: 500;
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.card-title, p.bold
{
    font-weight: bold;
}

.nav-front{
    z-index: 1040;
}

.header-searchPage.search-result{
    z-index: 1040;
}

.header-searchPage.search-result h2{
    color: white;
    font:bold;
}
.login-page.card-register.ml-auto.mr-auto{
    background-color: #403d3994
}

.login-page.card-register.ml-auto.mr-auto h3{
    font-weight: 500;
    color: #f5593d;
}

.header-cart h4{
    /* background-color: #403d3994; */
    font-weight: 400;
}

.viandas-cart{
    border-style: dotted;
     border-width: 1px;
    /* border: 1px solid #ECECEC; */
}

.cancel-cart{
    border-left-width: 2px;
    border-right-width: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-top: 0px;

}

.border-item{
    border-style: unset;
     border-width: 1px;
     /* border-color: 660033;
     background-color: cc3366;
     font-family: verdana, arial;
     font-size: 10pt; */
  }

@media (min-width: 768px){
.cart-responvive{
    max-width: 100%;
}
}